/* colors var*/

:root {
  --text-title-1-2: #cdbea7;
  --text-title-3a: #882426;
  --text-default: #424242;
  --active-menu: #c29545;
  --box-shadow: #959da533;
  --hover-background-card: #f0f0f0;
  --background-nav: #ffffff;
}
